.contact {
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 10rem;
    
}

.business{
    height: 100%;
    display: flex;
    padding: 0 4rem;
    width: 50%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}

.business-texts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.business h3{
    font-size: 3rem;
    font-weight: 700;
    width: 40rem;
    display: flex;
    text-align: start;
}

.business button{
    background-color: transparent;
    border: solid 1px #0078ED;
    color: #f4f4f4;
    transition: 1s ease;
    width: 25rem;
    height: 3rem;
    align-items: center;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.business button:hover{
    background-color: #0078ED;
    transition: 1s ease;
}

.rocket-container{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
}

.rocket{
    height: 20rem;
}


@media only screen and (max-width: 768px) {
    .contact {
        height: auto; /* Altura automática para acomodar o conteúdo */
        display: flex;
        justify-content: center;
        flex-direction: column; /* Altera a direção do flex para empilhar verticalmente */
        padding: 0 2rem; 
        margin-top: 10rem;
    }
    
    .business {
        height: auto; /* Altura automática para acomodar o conteúdo */
        display: flex;
        padding: 0; /* Remove o preenchimento */
        width: 100%; /* Largura total para ocupar todo o espaço disponível */
        flex-direction: column; /* Altera a direção do flex para empilhar verticalmente */
        justify-content: center;
        align-items: center;
        gap: 3rem; /* Reduz o espaçamento entre os elementos */
        margin-top: 2rem;
    }
    
    .business-texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .business h3 {
        font-size: 2rem; /* Reduz o tamanho da fonte */
        font-weight: 700;
        width: 100%; /* Largura total para ocupar todo o espaço disponível */
        text-align: start; /* Centraliza o texto */
    }
    
    .business button {
        background-color: transparent;
        border: solid 1px #0078ED;
        color: #f4f4f4;
        transition: 1s ease;
        width: 100%; /* Largura total para ocupar todo o espaço disponível */
        height: 3rem;
        align-items: center;
        text-align: center;
        font-weight: 500;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
    
    .business button:hover {
        background-color: #0078ED;
        transition: 1s ease;
    }
    
    .rocket-container {
        display: flex;
        width: 100%; /* Largura total para ocupar todo o espaço disponível */
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Altera a direção do flex para empilhar verticalmente */
        gap: 2rem;
        margin-top: 5rem; /* Reduz a margem superior */
    }
    
    .rocket {
        height: 15rem; /* Reduz a altura do foguete */
        max-width: 100%; /* Garante que o foguete não ultrapasse a largura do contêiner pai */
    }

}