.contact {
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10rem;
  }
  
  .business {
    height: 100%;
    display: flex;
    padding: 0 4rem;
    width: 50%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
  }
  
  .business-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .business h3 {
    font-size: 3rem;
    font-weight: 700;
    width: 40rem;
    display: flex;
    text-align: start;
    font-family: "Raleway", sans-serif;
  }
  
  .business button {
    background-color: transparent;
    border: solid 1px #0078ED;
    color: #f4f4f4;
    transition: 1s ease;
    width: 25rem;
    height: 3rem;
    align-items: center;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
  }
  
  .business button:hover {
    background-color: #0078ED;
    transition: 1s ease;
  }
  
  .rocket-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
  }
  
  .rocket {
    height: 20rem;
  }
  
  @media only screen and (max-width: 768px) {
    .contact {
      height: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 2rem;
      margin-top: 10rem;
    }
  
    .business {
      height: auto;
      display: flex;
      padding: 0;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 2rem;
    }
  
    .business-texts {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  
    .business h3 {
      font-size: 2rem;
      font-weight: 700;
      width: 100%;
      text-align: start;
    }
  
    .business button {
      background-color: transparent;
      border: solid 1px #0078ED;
      color: #f4f4f4;
      transition: 1s ease;
      width: 100%;
      height: 3rem;
      align-items: center;
      text-align: center;
      font-weight: 500;
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
    }
  
    .business button:hover {
      background-color: #0078ED;
      transition: 1s ease;
    }
  
    .rocket-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      margin-top: 5rem;
    }
  
    .rocket {
      height: 15rem;
      max-width: 100%;
    }
  }
  
  .animate-entry {
    opacity: 0;
    transform: translateX(-50px);
  }
  
  .contact.animate-entry {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
  }

  