.projects-container {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    opacity: 0;
}

.projects-container.animate-entry {
    opacity: 1;
    transition: opacity 1s ease;
}

.projects-container a {
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project {
    height: 100%;
    width: 100%;
    position: relative;
}

.project img {
    height: 100%;
    width: 707px;
    transition: 1s ease;
}

.project img:hover {
    filter: blur(1px);
    transition: 1s ease;
}

.tarja {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0078ED;
    opacity: 0;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.project:hover .tarja {
    display: flex;
    opacity: 100%;
}

.tarja h4 {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.5rem;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .projects-container {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        text-align: center;
    }
    
    .projects-container a {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .project {
        height: auto;
        width: 100%;
        display: flex;
    }
    
    .project img {
        width: 100%;
        max-width: 100%;
        transition: 1s ease;
    }
    
    .tarja {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #0078ED;
        opacity: 1;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .project:hover .tarja {
        opacity: 1;
    }
    
    .tarja h4 {
        text-decoration: none;
        color: #f4f4f4;
        font-size: 1rem;
        font-weight: 600;
    }
}
