
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0078ED;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body{
  color: white;
  font-family: 'Inter', sans-serif;
  
}

strong{
  color: #0078ED;
}


:root{
  scroll-behavior: smooth;

}

a{
  text-decoration: none;
  color: #f4f4f4;
}